<li class="nav-item">
  <div class="nav-item">
    <div id="search-pop-btn" class="px-3 py-2 border rounded-5">
      <i class="bi bi-search"><span class="d-none d-lg-none d-xxl-inline ms-2">Ctrl+K</span></i>
    </div>
  </div>
</li>
<li class="nav-item">
  <div id="theme" class="nav-item">
    <div id="light" hidden>
      <i class="bi bi-sun-fill"></i>
    </div>
    <div id="dark" hidden>
      <i class="bi bi-moon-fill"></i>
    </div>
  </div>
</li>
<li class="nav-item">
  <a class="nav-link" href="/"><i class="bi bi-house-door-fill"></i>主页</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/archives"><i class="bi bi-archive-fill"></i>归档</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/friendlink"><i class="bi bi-people-fill"></i>友链</a>
</li>