    <div class="d-flex align-items-center">
      <div class="nav-item mx-3">
        <div id="search-pop-btn" class="px-3 py-2 border rounded-5">
          <i class="bi bi-search"></i>
          <span class="d-none d-lg-none d-xxl-inline">Ctrl+K</span>
        </div>
      </div>
      <div id="theme" class="nav-item me-3">
        <div id="light" hidden>
          <i class="bi bi-sun-fill"></i>
        </div>
        <div id="dark" hidden>
          <i class="bi bi-moon-fill"></i>
        </div>
      </div>

      <!-- 导航栏 -->
      <button class="navbar-toggler d-block d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobileMenu" aria-controls="mobileMenu">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- 桌面端菜单 -->
      <div class="d-none d-lg-flex justify-content-end flex-grow-1 pe-3">
        <ul class="navbar-nav">
          <%- partial('partial/navmenus') %>
        </ul>
      </div>
    </div>

    <script>



    </script>