<h2 class="text-center"><%- page.title %></h2>

<div class="d-flex my-3">
  <span class="badge rounded-pill text-bg-primary">
    发布时间：<%= page.date.startOf('day').fromNow(); %>
  </span>

  <span class="badge rounded-pill text-bg-warning">

    更新时间：<%= page.updated.startOf('day').fromNow(); %>
  </span>
</div>


<div class="content-container">
  <%- page.content %>
</div>