<div class="rounded-4 p-2 shadow-lg sticky-top blur" style="top: 90px">
  <% if (is_post()) { %>
  <%- partial('partial/sidebar/toc') %>
  <% } else { %>
  <%- partial('partial/sidebar/post/no_post') %>
  <% } %>
</div>