<div id="banner" class="z-n1">
  <div class="container-fluid d-flex justify-content-center align-items-center">
    <div class="banner-box">
      <h1 class="banner-text">
        <%= config.subtitle %>
        <br>
        <%= config.description %>
      </h1>
      <h1 class="eraser-banner">
        <span class="eraser-banner-text">
          <%= config.subtitle %>
          <br>
          <%= config.description %>
        </span>
      </h1>
    </div>
  </div>
</div>

<script>
  const banner = document.querySelector('#banner');
  const navbar = document.querySelector('#header');

  const bannerObs = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          // 当 banner 可见时，将 navbar 中的字体颜色设置为 白色
          header.dataset['bsTheme'] = 'dark';
        } else {
          // 当 banner 不可见时，将 navbar 中的字体颜色设置为 黑色
          header.dataset['bsTheme'] = localStorage.getItem('theme');
        }
      });
    }, {
      root: null, // 视口为根元素
      threshold: 0, // 当 banner 完全不可见时触发
    }
  );

  bannerObs.observe(banner);
</script>