<!-- 评论系统采用Twikoo -->

<div id="tcomment"></div>
<script src="https://cdn.jsdelivr.net/npm/twikoo@1.6.42/dist/twikoo.min.js"></script>
<script>
  twikoo.init({
    envId: 'https://twikoo.xoneki.cn',
    el: '#tcomment',
    lang: 'zh-CN',
  })
</script>