<div class="container-fluid rounded-4 blur p-2 shadow-lg mt-2 d-flex justify-content-evenly">

  <div class="container">

    <a href="https://hexo.io/zh-cn/" target="_blank" class="mx-2" style="text-decoration: none;color: #000;">
      <img src="/img/hexo.svg" alt="hexo">
      Hexo
    </a>

    <a href="https://beian.miit.gov.cn/" target="_blank" style="text-decoration: none; color: #000;">
      渝ICP备2024039197号-1
    </a>

  </div>
</div>