<nav aria-label="...">
  <ul class="pagination">
    <% if (page.prev) { %>
    <li class="page-item">
      <% } else { %>
    <li class="page-item disabled">
      <% } %>
      <a class="page-link" href="<%- url_for(page.prev_link) %>">Previous</a>
    </li>

    <%- `<li class="page-item"><span class="page-link">第${page.current}/${page.total}页</span></li>` %>

    <% if (page.next) { %>
    <li class="page-item">
      <% } else { %>
    <li class="page-item disabled">
      <% } %>
      <a class="page-link" href="<%- url_for(page.next_link) %>">Next</a>
    </li>
  </ul>
</nav>