<div class="search-pop-overlay">
  <div class="modal" style="display: block;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">全站查找</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <div class="input-group mb-3">
            <div class="form-floating">
              <input type="text" id="search-text" class="form-control" placeholder="关键词，文章名，分类" aria-label="Recipient's username" aria-describedby="button-addon2">
              <label for="search-text">搜索</label>
            </div>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-start">
          <ul id="searchResult">
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
<%- js('js/modal.js') %>