<div class="border-bottom border-light text-center">
  <div class="d-flex">
    <svg t="1744277836009" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="14250" width="32" height="32">
      <path d="M384 192v192H192V192h192m0-64H192a64 64 0 0 0-64 64v192a64 64 0 0 0 64 64h192a64 64 0 0 0 64-64V192a64 64 0 0 0-64-64zM832 192v192h-192V192h192m0-64h-192a64 64 0 0 0-64 64v192a64 64 0 0 0 64 64h192a64 64 0 0 0 64-64V192a64 64 0 0 0-64-64zM384 640v192H192v-192h192m0-64H192a64 64 0 0 0-64 64v192a64 64 0 0 0 64 64h192a64 64 0 0 0 64-64v-192a64 64 0 0 0-64-64zM832 640v192h-192v-192h192m0-64h-192a64 64 0 0 0-64 64v192a64 64 0 0 0 64 64h192a64 64 0 0 0 64-64v-192a64 64 0 0 0-64-64z" fill="#000000" p-id="14251"></path>
    </svg>
    <span>分类</span>
  </div>
</div>

<div>
  <div class="list-group">
    <% site.categories.forEach(function (category) { %>
    <a href="<%= url_for(category.path) %>" class="list-group-item list-group-item-action  ">
      <%= category.name %>
      <span class="badge bg-primary rounded-pill float-end"><%= category.length %></span>
    </a>
    <% }); %>

  </div>
</div>