.banner-text {
    color: #fff;
    margin: 0;
    /* 移除默认的外边距 */
}

#banner {
    position: relative;
    /* 确保 banner 的内容不会被 sticky 定位影响 */
    height: 30vh;
    /* 设置高度为视口高度 */
    display: flex;
    justify-content: center;
    /* 水平居中 */
    align-items: flex-end;
    /* 垂直居中 */
    text-align: center;
    /* 文本居中对齐 */
    background-color: black;
    /* 背景颜色 */
    width: 100%;
    
    padding-bottom: 30px;
}

.banner-box {
    position: relative;
}

.eraser-banner {
    position: absolute;
    inset: 0;
    margin: 0;
    /* 移除默认的外边距 */
}

@property --p {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%;
}

.eraser-banner>.eraser-banner-text {
    --p: 0%;
    background: linear-gradient(to right, transparent var(--p), #000 calc(var(--p) + 10px));
    color: transparent;
    animation: eraser 5s forwards linear;
}

@keyframes eraser {
    to {
        --p: 100%;
    }
}