.search-pop-overlay {
  background: rgba(0, 0, 0, 0);
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  justify-content: center;
  align-items: flex-start;
  visibility: hidden;
  display: flex;
  transition: background 0.3s ease;
}

.search-active {
  visibility: visible;
  background: rgba(0, 0, 0, 0.5);
}

.modal {
  transform: scale(0);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.search-active .modal {
  transform: scale(1);
  opacity: 1;
}

.modal.closing {
  transform: scale(0);
  opacity: 0;
}