<div class="container-fluid rounded-4 blur p-2 shadow-lg mt-2 d-flex justify-content-evenly">
  <div class="container">
    <a href="https://hexo.io/zh-cn/" target="_blank" class="mx-2">Hexo</a>

    <a href="https://beian.miit.gov.cn/" target="_blank" class="mx-2">
      <%= theme.icp %>
    </a>
    <a href="https://www.xoneki.cn" target="_blank" rel="noopener noreferrer" class="mx-2">
      Bootiny By Shawing
    </a>
  </div>
</div>